<div>
    <h1 style="color: #cc0000">Not Found!!</h1>
    <p class="lead" style="color: #cc0000">The Employee list is initially empty(As Cache memory is used)</p>
    <p> Please click here to create new employee: @Html.ActionLink("Create","EmployeeList", "Employee")</p>
</div>